body {
  background-color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
}

#login {
  display: flex;
  margin-top: 5%;
  justify-content: space-evenly;
}
#menuWrapper {
  width: fit-content;
  display: flex;
  width: 100%;
}

#menu {
  width: fit-content;
  display: flex;
  justify-content: space-evenly;
  padding-top: 2%;
}

#logOut {
  display: flex;
  position: absolute;
  right: 1%;
  padding-top: 2%;
}

#title {
  text-align: center;
  font-size: 50px;
  margin: auto;
}

#title2 {
  text-align: center;
  margin: auto;
}

#leftUp {
  width: 50%;
}

#rightUp {
  width: 50%;
}

.content {
  width: 95%;
  margin: 5px;
}

.roundCorner {
  border: none;
  border-radius: 3px;
}

#row {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2%;
}

#threeCheckBox {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2%;
}

#middle {
  width: 80%;
}

#validTo {
  display: flex;
  justify-content: flex-start;
}

#leftCheckBox {
  width: 33%;
}

#middleCheckBox {
  width: 33%;
}

#rightCheckBox {
  width: 33%;
}

#textArea {
  width: 100%;
  height: 250px;
}

.requestElement {
  background-color: white;
}

#createForm {
  background-color: #f1f1f1;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  margin: 3px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.collapsibleContent {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.btn {
  min-width: 70px;
  background-color: #777;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  padding: 5px;
  margin: 1px;
  text-decoration: none;
}

.btn:hover {
  background-color: #555;
}

.btn:active {
  background-color: #555;
}

.button {
  background-color: #777;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  padding: 5px;
  margin: 1px;
}

.button:hover {
  background-color: #555;
}

.activeMenuButton {
  background-color: #333333;
}

.stayLeft {
  float: left;
}

.text-center {
  text-align: center;
  margin: auto;
}

.alert-error {
  background-color: red;
}

.alert-success {
  background-color: green;
}

.alert-warning {
  background-color: orange;
}

.alert {
  width: 30%;
  margin: auto auto;
  padding: 35px;
  position: absolute;
  top: 8%;
  left: 1%;
  z-index: 100;
  border-radius: 5px;
  box-shadow: 0 0 15px 5px #ccc;
}

.close {
  position: absolute;
  width: 30px;
  height: 30px;
  opacity: 0.5;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  right: 15px;
  top: 25px;
  text-align: center;
  font-size: 1.6em;
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

.dots-loading {
  margin: 0 auto;
  text-align: center;
}

.dots-loading::before,
.dots-loading::after {
  content: " ";
}

.dots-loading div,
.dots-loading::before,
.dots-loading::after {
  margin: 35px 5px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #c4c4c4;
  opacity: 0;
}

.dots-loading::before {
  -moz-animation: opacitychange 1s ease-in-out infinite;
  -webkit-animation: opacitychange 1s ease-in-out infinite;
  -o-animation: opacitychange 1s ease-in-out infinite;
  animation: opacitychange 1s ease-in-out infinite;
}

.dots-loading div {
  -moz-animation: opacitychange 1s ease-in-out 0.33s infinite;
  -webkit-animation: opacitychange 1s ease-in-out 0.33s infinite;
  -o-animation: opacitychange 1s ease-in-out 0.33s infinite;
  animation: opacitychange 1s ease-in-out 0.33s infinite;
  -webkit-animation-fill-mode: infinite;
  animation-fill-mode: infinite;
}

.dots-loading::after {
  -moz-animation: opacitychange 1s ease-in-out 0.66s infinite;
  -webkit-animation: opacitychange 1s ease-in-out 0.66s infinite;
  -o-animation: opacitychange 1s ease-in-out 0.66s infinite;
  animation: opacitychange 1s ease-in-out 0.66s infinite;
  -webkit-animation-fill-mode: infinite;
  animation-fill-mode: infinite;
}

@keyframes opacitychange {
  0%,
  100% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }
}

@-webkit-keyframes opacitychange {
  0%,
  100% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }
}

/* flash message*/

.floating-alert {
  display: none;
  position: absolute;
  z-index: 999;
  top: 38px;
  left: 50%;
  transform: translateX(-50%);
  -moz-animation: floatingAlert ease-in 5s forwards;
  -webkit-animation: floatingAlert ease-in 5s forwards;
  -o-animation: floatingAlert ease-in 5s forwards;
  animation: floatingAlert ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.floating-alerts .floating-alert:last-of-type {
  display: block;
}

@keyframes floatingAlert {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }

  9% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  91% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }
}

@-webkit-keyframes floatingAlert {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }

  9% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  91% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }
}
